header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

nav {
    display: flex;
    gap: 30px;
}

button {
    background-color: skyblue;
    color: white;
    padding: 10px 30px;
    margin: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

h1 {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 50px;
}

a {
    text-decoration: none;
}
#p2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
}